.ulli {
display: flex;
background-color: rgba(233, 170, 181, 0.644);
align-items: center;
justify-content: center;
text-align: center;
color: rgb(77, 29, 122);
text-decoration: underline;

text-decoration-color: aquamarine;
}


