* {
padding: 0;
margin: 0;
}

.mainNav {
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 253, 128, 0.644);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(77, 29, 122);
  font-weight: 600;
}

.mainNav > li {
  list-style:none;
  width: 30%;
  border: 4px rgb(255, 198, 246) dotted;
  padding: 10px;
  margin: 0 3%;
}

.mainNav > li:before {
  content: '❤️';
  margin-right: 10px;
  width: 30%;
}

.firstBlock {
  background-color: rgba(172, 255, 47, 0.356);
  height: 10vh;
}

.secondBlock {
  background: linear-gradient(0deg, rgba(251,255,210,1) 0%, rgba(255,187,249,1) 50%, rgba(226,255,187,1) 100%);
  background-position-y: center;
  /* background-attachment: fixed; */
  height: 60vh;
  padding: 0 10%;
}
.thirdBlock {
  background-color: rgba(241, 255, 47, 0.24);
  height: 60vh;
}

.mainFooter {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.322);
  position: sticky;
  bottom: 0;
  padding: 6px;

}

.mainFooter > div {
  display: flex;
  flex-direction: row;
  padding: 6px;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 30%;
}
.mainFooter > div:hover {
  background-color: rgba(0, 0, 255, 0.342);
  transition: 0.4s;
  height: 90px;
  text-align: left;


}